.logo {
  width: 125px;

}

.sidebar li {
  list-style: none;
}
.banner {
  background: #F0F0F0;
}

.article{
  border: 1px solid #66FF66;
  background: #f5fffa;
}
.newsarticle{
  border: 1px solid #a3b0bf;
  background: #f5faff;
}

div {
  border: 1px solid black;

}

.featured-picture {
  background-color: lightblue;
}

.signin li {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline;
    font-size: 10px;
}

.articletitle {
  font-weight: bold;
  border: 1px solid #99CC33;
  margin: 5px;
  background: #cef2e0;

}
.newstitle {
  font-weight: bold;
  border: 1px solid #a3b0bf;
  margin: 5px;
  background: #cedff2;
}
